body {
    background-color: #FEF8EF;
}

h1 {
    font-family: 'Cabin';
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: - 0.3%;
    color: #202020;
    font-style: normal;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: -0.003em;
    color: #000000;
}

h2 {
    /* H2 Heading 2 */
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: #000000;
}

h3 {
    /* From figma: */
    /* heading 3 */
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.txt_1 {
    font-family: Cabin;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.txt_1 {
    color: #202020;
    font-family: 'Cabin';
    font-weight: regular;
    font-size: 16px;
    color: black;
}

.body_copy {
    /* From figma: */
    /* Body copy */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: normal;
    font-size:20px; /* Adjusted from 16 in figma */
    line-height: 130%;
    /* identical to box height, or 21px */
}
.family {
    font-family: 'Cabin';
    text-align: center;
    vertical-align: bottom;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    font-size:20px; 
    /* transform: scale(0.3, 0.3); only for a huge pic */
}

.header {
    height: 120px;
    text-align: center;
    padding: 1px;
}

​​​​ .logo {
    text-align: left;
    width: 10px;
    image-resolution: 10px;
    color: blue;
}

.logo1 {
    text-align: left;
    width: 200px;
    image-resolution: 10px;
    padding-left: 40px;
    padding-top: 30px;
}

.containerdiv {
    padding: 1%;
    box-sizing: border-box;
    min-height: 500px;
}

.left-column {
    width: 20%;
    float: left;
}

​​​​​​​​ .right-column {
    width: 20%;
    float: left;
}

.center-column1 {
    width: 30%;
    float: left;
}

.center-column2 {
    width: 30%;
    float: left;
}

.footer {
    clear: both;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
}

.footer {
    ​​​​​​​​;
}

​​​​​​​​ .menu {
    position: flex;
    width: 30%;
    height: 100%;
    border-radius: 12px;
    float: left;
    min-width: 100px;
}

.menu__link {
    background-color: #DCE6E3;
    color: #202020;
    font-family: 'Cabin';
    font-weight: medium;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 15px;
    padding-left: 70px;
    border-radius: 12px;
    margin: 14px;
    box-shadow: 0 2px 4px 0 rgba(153, 152, 152, 0.104), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    min-width: 100px;
    /* From figma below: */
    /*
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    padding: 0px 15px 0px 0px;
    position: relative; */
    /* width: 497px; */
    /* height: 60px; */
    background: #DCE6E3;
    /* Drop shadow */
    box-shadow: 4px 4px 3px rgba(32, 32, 32, 0.14);
    border-radius: 14px;
    background: url( ../icons/siggesta_gard_icon.png ) #DCE6E3 no-repeat;
    background-size: 54px 54px;
}

.menu__icon {
    /* From figma: */
    /* position: absolute;
    left: 0%;
    right: 63.26%;
    top: -8.33%;
    bottom: 0%;
    */
    padding:0px;
    background: url( ../icons/siggesta_gard_icon.png );
}

.menu__icon:hover {
    background: green;
}

.menu__link:hover {
    display: block;
    color: black;
    padding: 15px;
    padding-left: 70px;
    border-radius: 12px;
    margin: 14px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    /* From figma: card / active */
    /* Auto Layout */
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 0px;
    position: relative;
    width: 497px;
    height: 60px;
    background: #DCE6E3;
    /* Drop shadow */
    /*
    box-shadow: 4px 4px 3px rgba(32, 32, 32, 0.14);
    border-radius: 14px;
    */
}

.channel-title {
    text-align: center;
    margin: 20px;
}

.program-list {
    background-color: white;
    list-style-type: none;
    padding: 0;
}

.program-list__item {
    border-top: 1px solid lightgray;
    padding: 10px;
}