body {
    background-color: #FEF8EF;
}

/* -----------------------------Text hantering*/

h1 {
    font-family: 'Cabin';
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: - 0.3%;
    color: #597B72;
    font-style: normal;
    padding-left: 10px;
    /* From Figma, identical to box height */
    /*letter-spacing: -0.003em;
    color: #000000;*/
}

h2 {
    /* H2 Heading 2 */
    font-family: Cabin;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: #597B72;
    padding-left: 10px;
}

h3 {
    /* From figma: */
    /* heading 3 */
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.body_copy {
    /* From figma: */
    /* Body copy */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* Adjusted from 16 in figma */
    line-height: 130%;
    padding-left: 10px;
    padding-right: 10px;
    color: #597B72;
    /* identical to box height, or 21px */
}

.body_copy_filter {
    /* From figma: */
    /* Body copy */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    /* Adjusted from 16 in figma */
    line-height: 130%;
    padding-left: 10px;
    color: #597B72;
    /* identical to box height, or 21px */
}

.header {
    height: 20px;
    padding: 10px;
}

.link {
    font-weight: bold;
    font-family: 'Cabin';
    color: #FEF8EF;
    color: rgba(218, 236, 226, 0.671);
    padding-left: 10px;
    padding-top: px;;
}

/*------------------------------------bild hantering*/

.logoPicknick {
    margin-left: 0;
    width: 120px;
}


.menupicture {
    width: 100%;
}


/*---------------------------------------- container hantering*/


.container {
    height: 250px;
    background: url(../images/throwTheBaby.jpg);
    background-size: 100%;
}


/*-------------------bild ---flyttat till slideshow.css
.infoContainer{ 
    height: 100px;
    padding-bottom: 0px;
    padding-top: 20px;

    
}*/

/*-------------------------------------------- column hantering*/

.center-column {
    width: 90%;
    float: left;
}

.footer {
    clear: both;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
}

/*------------------------------------------- knappar/ länkar hantering */

​​​​​​​​ .menu {
    position: flex;
    width: 30%;
    height: 100%;
    float: left;
    min-width: 100px;
}

.menu__link {
    color: #597B72;
    font-family: 'Cabin';
    font-weight: medium;
    font-size: 20px;
    text-decoration: none;
    display: inline;
    padding: 15px;
    padding-left: 0px;
    margin: 10px;
    /*box-shadow: 0 2px 4px 0 rgba(153, 152, 152, 0.104), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
    min-width: 100px;
   
    /* From figma below: */
    /*
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    padding: 0px 15px 0px 0px;
    position: relative; */
    /* width: 497px; */
    /* height: 60px; */
    /*background: #DCE6E3;
    /* Drop shadow */
    /*box-shadow: 4px 4px 3px rgba(32, 32, 32, 0.14);*/
    /* fix for picture icon in button */
    
}

/* cardsbilder till huvudsidan */
.aspuddsparken{
    background: url(../icons/siggesta_gard_icon.png ) no-repeat;
    background-size: 54px 54px;
    border-radius: 0px;
}

.bergianska{
    background: url(../places/bergianska/Card_Bergianska.png ) no-repeat;
    background-size: 54px 54px;
    border-radius: 0px;
}

.birka{
    background: url(../icons/siggesta_gard_icon.png ) no-repeat;
    background-size: 54px 54px;
    border-radius: 0px;
}
/*
.menu__icon {
    /* From figma: */
    /* position: absolute;
    left: 0%;
    right: 63.26%;
    top: -8.33%;
    bottom: 0%;
    
    padding-left: 77px;
    text-align: right;
    text-align-last: right;
    align-items: flex-end;
}
*/
/*
.menu__icon:hover {
    border-radius: 5px;
    /* background: white; 
}*/

/*.menu__link:hover {
    display: block;
    color: black;
    padding: 15px;
    padding-left: 70px;
    border-radius: 12px;
    margin: 14px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    /* From figma: card / active */
    /* Auto Layout */
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 0px;
    position: relative;
    width: 497px;
    height: 60px;
    background: #DCE6E3;
    /* Drop shadow */
    /*
    box-shadow: 4px 4px 3px rgba(32, 32, 32, 0.14);
    border-radius: 14px;
    
}*/


.container2 {
    margin: 1px;
    /*padding-top: 2px;     
    padding-left: 33px;
    padding-right: 6px;
    padding-bottom: 3px;*/
}

.button {
    margin: 4px;
    color: black;
    /*width: 0.9em;
    height: 0.9em;
    margin-right: 0.5em;*/
    text-align: right;
    border: none;
    border-radius: 8px;
    background-color: #c7ebe5;
    background-position: 0px 0px;
    cursor: pointer;
    height: 25px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.button_off {
    margin: 4px;
    color: black;
    /*width: 0.9em;
    height: 0.9em;
    margin-right: 0.5em;*/
    text-align: right;
    border: none;
    border-radius: 8px;
    background-color: #c7ebe5;
    background-position: 0px 0px;
    cursor: pointer;
    height: 25px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.button_on {
    margin: 4px;
    color: black;
    /*width: 0.9em;
    height: 0.9em;
    margin-right: 0.5em;*/
    text-align: right;
    border: none;
    border-radius: 8px;
    background-color:  #97bbb5;
    background-position: 0px 0px;
    cursor: pointer;
    height: 25px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: middle;
}
.button:hover {
    margin: 4px;
    color: black;
    /*width: 0.9em;
    height: 0.9em;
    margin-right: 0.5em;*/
    text-align: right;
    border: none;
    border-radius: 8px;
    background-color: #4ac5b1;
    background-position: 0px 0px;
    cursor: pointer;
    height: 25px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.button-icon {
    color: blue;
    text-align: right;
    border: none;
    cursor: pointer;
    /* make the cursor like hovering over an <a> element */
    height: 30px;
    /* make this the size of your image */
    padding-top: 2px;
    /* make text start to the right of the image */
    padding-left: 33px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: middle;
    /* align the text vertically centered */


}