body {
    background-color: #FEF8EF;
}

/* -----------------------------Text hantering*/

h1 {
    font-family: 'Cabin';
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: - 0.3%;
    color: #597B72;
    font-style: normal;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 0 0 0;
    /* From Figma, identical to box height */
    /*letter-spacing: -0.003em;
    color: #000000;*/
}

h2 {
    /* H2 Heading 2 */
    font-family: 'Cabin';
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: #597B72;
    padding-left: 0px;
}

h3 {
    /* From figma: */
    /* heading 3 */
    font-family: 'Cabin';
    font-style: bold;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    color: #597B72;
}

p {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    font-family: 'Cabin';
    font-weight: normal;
    line-height: 136%;
    color: #597B72;
    display: inline;
    /* make \n work */
    white-space: pre-wrap;
}

.p-strong {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: 'Cabin';
    font-weight: bold;
    line-height: 136%;
    color: #597B72;
}

.choices {
    padding-top: 7px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-size: 16px;
    font-family: 'Cabin';
    font-weight: bold;
    color: #597B72;
}

.facilities {
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 2px;
    color: #597B72;
    font-family: 'Cabin';
    font-weight: bold;
    line-height: 130%;
    font-size: 16px;
}

.body_copy {
    /* From figma: */
    /* Body copy */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    padding-top: 4px;
    padding-left: 0px;
    padding-right: 0px;
    color: #597B72;
    margin: 0px;
    /* identical to box height, or 21px */
}

.filter_heading {
    /* From figma: */
    /* Body copy */
    font-family: 'Cabin';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* Adjusted from 16 in figma */
    line-height: 130%;
    padding-left: 0px;
    padding-top: 0px;
    color: #597B72;
    margin-bottom: 5px;
    /* identical to box height, or 21px */
}

#dropdown-menu {
    /* background-color: #FEF8EF; */
    background-color: red;
}

#dropdown {
    /* background-color: #FEF8EF; */
    background-color: blue;
}

#dropdown-basic {
    font-family: Cabin;
    background-color: #FEF8EF;
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 10px;
    border: none;
    color: #597B72;
    float: left;
    width: 140px;
    text-align: left;
}

#dropdown-basic:focus, #dropdown-basic:active {
    font-family: Cabin;
    background-color: #FEF8EF;
    border: none;
    color: #597B72;
    border-style: none;
    outline: none;
    box-shadow: none;
}

/* själva bakgrundsfärgen till radio knapparna*/

.dropdown-menu.show.dropdown-menu-right {
    background-color: #FEF8EF;
   
}

a.dropdown-item {
    color: #597B72;
    font-family: Cabin;
}

button#dropdown-basic.dropdown-toggle.btn.btn-primary::after {
   content: "⌄";
   font-weight: bolder;
   border: none;
}

/* a.dropdown-item:focus {} */

.radio {
    padding-bottom: 3px;
    padding-right: 15px;
}

.sort_and_hits {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* Adjusted from 16 in figma */
    line-height: 136%;
    text-align: center;
    vertical-align: middle;
    color: #597B72;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 20px;
    display: inline;
    align-items: flex-end;
    margin: 0px;
    /*padding-top: 2px;     
    padding-left: 33px;
    padding-right: 6px;*/
}

.header {
    height: 20px;
    padding: 10px;
    padding-bottom: 40px;
}

.link {
    font-weight: bold;
    font-family: 'Cabin';
    color: #FEF8EF;
    color: rgba(218, 236, 226, 0.671);
    padding-left: 10px;
    padding-top: px;
}

/*------------------------------------bild hantering*/

.logoPicknick {
    margin-left: 0;
    width: 120px;
}

.minipicture {
    border-radius: 8%;
    width: 90px;
    height: 83px;
    padding-left: 0px;
}

.map_pin {
    margin-right: 5px;
    padding-bottom: 6px;
}

.shortdescription {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #597B72;
    /* TODO: perhaps solve with some flex center thing, or something?*/
}

.infopicture {
    width: 100%;
}

/*---------------------------------------- container hantering*/

.container {
    height: 270px;
    background: url(../images/throwTheBaby.jpg);
    background-size: 100%;
}

.container2 {
    align-items: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 7px;
    font-size: 14px;
    font-family: 'Cabin';
    font-weight: normal;
    color: #597B72;
}

.container3 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 14px;
    font-family: 'Cabin';
    font-weight: normal;
    color: #597B72;
}

.container4 {
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 3px;
}

.infocontainer {
    padding-bottom: 0px;
}

.infocontainer2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 7px;
    font-size: 14px;
    font-family: 'Cabin';
    font-weight: normal;
    color: #597B72;
}

.infocontainer3 {
    display: flex;
    flex-flow: row wrap;
    align-items: left;
    padding-left: 10px;
    padding-bottom: 30px;
}

/* NEW::after

.infocontainer3 {
    display: flex;
    display: inline;
    flex-flow: row wrap;
    align-items: left;
    padding-left: 70px;
    padding-bottom: 5px;
}



Old::after}

.infocontainer3 {
    display: flex;
    display:inline;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 5px;
}
*/

/*-------------------------------------------- column hantering*/

/* kolla upp Icontainer3*/

.infocontainer4 {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
}

.center-column {
    width: 90%;
    float: left;
}

.footer {
    clear: both;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

/*------------------------------------------- list hantering */

li {
    list-style-type: none;
}

/*------------------------------------------- knappar/ länkar hantering */

​​​​​​​​ .menu {
    position: flex;
    width: 30%;
    height: 100%;
    float: left;
    min-width: 100px;
}

.menu__link {
    color: #597B72;
    float: left;
    font-family: 'Cabin';
    font-weight: medium;
    font-size: 16px;
    display: inline;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
    /*box-shadow: 0 2px 4px 0 rgba(153, 152, 152, 0.104), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
    min-width: 100px;
    /* From figma below: */
    /*
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    padding: 0px 15px 0px 0px;
    position: relative; */
    /* width: 497px; */
    /* height: 60px; */
    /*background: #DCE6E3;
    /* Drop shadow */
    /*box-shadow: 4px 4px 3px rgba(32, 32, 32, 0.14);*/
    /* fix for picture icon in button */
    white-space: pre-wrap;
    /* make \n work */
}

.mycard {
    border-radius: 1px;
    border: 2px;
    color: #597B72;
}

/* .column & .row from https://www.w3schools.com/howto/howto_css_two_columns.asp */

.column {
    float: left;
    padding-right: 0px;
    padding-left: 15px;
    max-width: 270px;
}

.column_all {
    width: 375px;
    margin: auto;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.buttons {
    margin: 0px;
    text-align: left;
    background-position: 0px 0px;
    cursor: pointer;
    /*   height: 25px; */
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 6px;
    padding-bottom: 16px;
    vertical-align: middle;
}

.button_on {
    font-size: 14px;
    font-family: 'Cabin';
    font-weight: normal;
    color: #FFFCF8;
    background-color: #8bafa9;
    margin: 0px;
    text-align: right;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 7px 10px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.button_off {
    font-size: 14px;
    font-family: 'Cabin';
    font-weight: normal;
    color: #597B72;
    background-color: #DCE6E3;
    margin: 0px;
    text-align: right;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 7px 10px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.infobutton {
    font-size: 16px;
    font-family: 'Cabin';
    font-weight: bold;
    color: #696868;
    background-color: #DCE6E3;
    margin: 6px;
    text-align: right;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.showMoreButton {
    background: none;
    color: #597B72;
    border: none;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    cursor: pointer;
    padding-left: 2px;
    padding-top: 2px;
    font-size: 15px;
    font-family: 'Cabin';
    font-weight: normal;
    vertical-align: middle;
}

.filtertext-middle {
    vertical-align: text-top;
    padding: 5px;
    font-weight: bold;
}

.button:hover {
    margin: 4px;
    color: black;
    text-decoration: none;
    /*width: 0.9em;
    height: 0.9em;
    margin-right: 0.5em;*/
    text-align: right;
    border: none;
    border-radius: 8px;
    background-color: #4ac5b1;
    background-position: 0px 0px;
    cursor: pointer;
    height: 25px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.button-icon {
    color: orange;
    text-align: right;
    border: none;
    cursor: pointer;
    /* make the cursor like hovering over an <a> element */
    height: 30px;
    /* make this the size of your image */
    padding-top: 2px;
    /* make text start to the right of the image */
    padding-left: 33px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: middle;
    /* align the text vertically centered */
}

.mapbutton {
    font-size: 16px;
    font-family: 'Cabin';
    font-weight: bold;
    color: #DCE6E3;
    background-color: #597B72;
    margin: 6px;
    text-align: right;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    margin-top: 6px;
}

.mapLink {
    font-size: 14px;
    font-family: 'Cabin';
    font-weight: normal;
    color: #597B72;
}

/*  BREADCRUMBS!-----------------------------------   */

/*  breadcrumb containern   */

.breadcrumb {
    background-color: #FEF8EF;
    margin: 0px;
    padding: 0px 0px 0px 10px;
}

/* strukturen för breadcrumbs */

.breadcrumb-item+.breadcrumb-item::before {
    content: "❯";
   font-size: 16px; 
  
}

/* färg för breadcrumb */

.homecrumb {
    color: #597B72; 
}

/* färg för breadcrumb */

.itemcrumb {
    color: #597B72;
    /* font-weight: bold; */
    text-decoration: none;
    
}

.itemcrumb:hover {
    color: #597B72;
    text-decoration: none;
}

/* breadcrumb hover */

.breadcrumb-item, a:hover {
    color: #597B72;
}